* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#status {
    border: solid 1px white;
    padding: 1em 5em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

#button {
    border: solid 1px white;
    padding: 1em 3em;
    margin-top: 1em;
    font-size: 1.5em;
    border-radius: 25px;
}

#box {
    height: 60%;
    width: 75%;
    /* border: solid 1px white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.board{
    /* border: solid 1px white; */
    display: flex;
    justify-content: center;
    align-items: center;
}


table {
    /* border: solid 1px black; */
    border-spacing: 0;
    border-collapse: collapse;
}

td{
    border: solid 1px black;
    width: 3em;
    height: 3em;
}
/* tr is column and td is row */
.content {
    position: relative;
    height: 3em;
    width: 3em;
}

.ship {
    z-index: 2;
    border: 2px solid #00f;
    background: rgba(0,0,255,.05);
    position: absolute !important;
    width: 3em;
    height: 3em;
}